   /* disgin whole page */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Tahoma;
        background: #E1D4C2;
        /* color:#E1D4C2; */
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    /* add service section the main section */
    .add-service {
        width: 90%;
        padding: 10%;
    }

    /* form desgin */
    .form-container {
        width: 500px;
        max-width: 90%;
        background: #A78D78;
        margin: auto;
        padding: 30px;
        border-radius: 20px;
        /* shadow behind the form */
        box-shadow: 0px 15px 30px #291C0E;
    }

    /* page title desgin */
    .form-container h1 {
        text-align: center;
        margin-bottom: 25px;
        color: white;
        /* text-decoration: underline; */
        background: linear-gradient( #A78D78, #6E473B);
    }

    /* form elements order  */
    form {
        display: flex;
        flex-direction: column;
    }

    /* all label desgin */
    label {
        margin-top: 12px;
        margin-bottom: 5px;
        font-weight: bold;
        color: #6E473B;
    }

    input,
    select,
    textarea {
        padding: 12px;
        border: 1px solid #6E473B;
        outline: none;
        border-radius: 10px;
        font-size: 15px;
        color: #6E473B;
    }

    input:focus,
    select:focus,
    textarea:focus {
        box-shadow: 0px 15px 30px #6E473B;
    }

    /* button degin */
    button {
        display: block;
        margin-top: 30px;
        padding: 14px;
        border-radius:30px ;
        background: #6E473B;
        color: white;
        font-size: 16px;
        width: 300px;
        /* width of this button only*/
        margin: 30px auto 0;
        /* margin auto  يوزع الفراغ من اليمين واليسار بالتساوي */
        align-items: center;
        /* button at the middle*/
    }

    /* hover to effect button element while moving over thier */
    button:hover {
        background: #6E473B;
    }

    input[type="file"] {
        background: white;
        color: #6E473B;
        padding: 10px;
        border: 1px solid #6E473B;
    }
